<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context.xsd
         http://www.springframework.org/schema/mvc
         http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!-- 开启注解扫描 -->
    <context:component-scan base-package="com.chengxugo.controller"/>

    <!-- 配置springmvc的基本控制器，并开启了对json数据格式的支持 -->
    <mvc:annotation-driven/>

    <!-- 配置springmvc的视图解析器 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/"/>
        <property name="suffix" value=".jsp"/>
    </bean>


    <mvc:resources location="/static/" mapping="/static/**"/>

    <mvc:resources mapping="/images/**" location="/images/" />

    <!-- 两个标准配置 -->
    <!-- 把spirngmvc不能处理的请求交给tomcat 比如静态资源图片等-->
    <mvc:default-servlet-handler/>
    <!-- 配置注解驱动 映射动态请求 支持springmvc一些高级功能，比如JSR303校验，快捷AJAX请求-->
    <mvc:annotation-driven/>
   <!--< &lt;!&ndash;访问拦截&ndash;&gt;-->
    <!--<mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="com.chengxugo.controller.LoginInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>-->

    <!--全局异常处理器
    只要类实现了HandlerExceptionResolver接口，就是一个全局异常处理器哦-->
   <bean class="com.chengxugo.exception.CustomExceptionResolver"/>


    <!--将静态资源交由默认的servlet处理-->
    <mvc:default-servlet-handler />
  <!--  &lt;!&ndash;重要！将你的SwaggerConfig配置类注入&ndash;&gt;
    <bean class="com.chengxugo.util.SwaggerConfig"/>
    <mvc:resources mapping="swagger-ui.html" location="classpath:/META-INF/resources/" />
    <mvc:resources mapping="/webjars/**" location="classpath:/META-INF/resources/webjars/" />
    <context:component-scan base-package="com.chengxugo.util"/>-->
</beans>